body {
  margin: 0;
  background-color: #f0f2f5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Segoe UI Historic", Tahoma, "Trebuchet MS", sans-serif;
}

.container {
  padding: 0 20px;
  max-width: 500px;
  margin: 0 auto;
}

.logo {
  width: 40px;
  position: absolute;
}

nav {
  padding: 15px 5px 10px 5px;
  background-color: #fff;
  margin-bottom: 30px;
}

.avatar {
  width: 45px;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  top: 15px;
  cursor: pointer;
}

nav h2 {
  position: absolute;
  left: 51px;
  top: 23px;
  color: #0766ff;
  margin: 0;
  font-size: 16px;
  font-weight: 300;
}

.nav-items {
  width: 100%;
  justify-content: center;
  display: flex;
}

a {
  cursor: pointer;
  padding: 8px 20px;
  text-decoration: none;
  color: #000;
}

a:hover {
  background-color: #f0f2f5;
}

a:first-child {
  border-bottom: 3px solid #0766ff;
}

textarea {
  width: 70%;
  border-radius: 15px;
  border: none;
  background-color: #f0f2f5;
  resize: none;
  outline: none;
  padding: 8px 15px;
  height: 24px;
  font-size: 16px;
}

.card {
  background-color: #fff;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  margin-bottom: 15px;
  flex-wrap: wrap;
  align-items: center;
}

.card p {
  width: 100%;
  font-size: 20px;
}

button {
  padding: 8px 20px;
  background-color: #0766ff;
  color: #fff;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0d3b87;
}

.card .action {
  width: 100%;
  border-top: 1px solid rgb(227, 224, 224);
  padding: 2px;
  justify-content: center;
  display: flex;
}

.action button {
  background-color: #fff;
  color: #000;
  width: 33%;
}

.action button:hover {
  background-color: #f0f2f5;
}

.card .comment {
  width: 100%;
  border-top: 1px solid rgb(227, 224, 224);
  padding: 2px;
  justify-content: center;
  display: flex;
  padding-top: 15px;
}

.comment textarea {
  width: 96%;
  height: 15px;
  line-height: 14px;
  font-size: 13px;
}

.like {
  font-size: 12px;
  position: relative;
  margin-bottom: 8px;
}

.fa {
  margin-right: 4px;
}

.like .fa {
  margin-right: 3px;
}

.like .fa::before {
  background: #0a7afe;
  color: white;
  padding: 5px;
  border-radius: 50%;
}
